<!-- EI 4 - IoT
 ANDRIATSILAVO Matteo -- TP A
 Fichier de la page des logements -->
 <!DOCTYPE html>
 <html lang="fr">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', path='styles/sheet_housing.css') }}">
   <script src="{{ url_for('static', path='scripts/script_housing.js') }}" charset="utf-8" defer="defer"></script>
   <title>Logements • I-Leaf</title>
   <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='images/logo_i_leaf_without_name.svg') }}">
 </head>
 <body>
    <div class="header-container">
        <img id="logo" src="{{ url_for('static', path='images/logo_i_leaf_with_name_cropped.png') }}" alt="Logo I-Leaf">
        <h1 style="text-align: center;">État des capteurs</h1>
   </div>
   <h2 style="text-align: center;">Logement: "{{ nom_logement }}" &nbsp;| pièces: {{ nb_pieces }}</h2>
   
   {% for room in logement_pieces %}
        <div class="room-block">
            <button type="button" class="collapsible" style="text-align: center; border-left:10px solid">
            {{ logement_pieces[room]['name'] }} &nbsp;| capteurs/actionneurs: {{ logement_pieces[room]['number_sensors'] }}
            </button>
            <div class="content">
                {% if logement_pieces[room]['has_sensor_type']['temperature']['has'] %}
                    <h3 class="temperature">Température</h3>
                    <div class="sensor-grid">
                        {% for sensor in logement_pieces[room]['has_sensor_type']['temperature']['list'] %}
                            <div class="sensor-block-temperature">
                                <p>ID: {{ sensor.id }}</p>
                                <p>Mesure: {{ mesures[sensor.id]['mesure'].valeur }} {{ mesures[sensor.id]['type_cap']['unite_mesure'] }} </p>
                                
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if logement_pieces[room]['has_sensor_type']['humidity']['has'] %}
                    <h3 class="humidity">Humidité</h3>
                    <div class="sensor-grid">
                        {% for sensor in logement_pieces[room]['has_sensor_type']['humidity']['list'] %}
                            <div class="sensor-block-humidity">
                                <p>ID: <span id="sensor-id">{{ sensor.id }}</span></p>
                                <p>Mesure: {{ mesures[sensor.id]['mesure'].valeur }} {{ mesures[sensor.id]['type_cap']['unite_mesure'] }} </p>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                
                {% if logement_pieces[room]['has_sensor_type']['light']['has'] %}
                    <h3 class="light">Luminosité</h3>
                    <div class="sensor-grid">
                        {% for sensor in logement_pieces[room]['has_sensor_type']['light']['list'] %}
                            <div class="sensor-block-light">
                                <p>ID: <span id="sensor-id">{{ sensor.id }}</span></p>
                                <p>Mesure: {{ mesures[sensor.id]['mesure'].valeur if (mesures[sensor.id]['mesure'].valeur != None) else -1 }} 
                                    {{ mesures[sensor.id]['type_cap']['unite_mesure'] }} </p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if logement_pieces[room]['has_sensor_type']['proximity']['has'] %}
                    <h3 class="proximity">Présence/Proximité</h3>
                    <div class="sensor-grid">
                        {% for sensor in logement_pieces[room]['has_sensor_type']['proximity']['list'] %}
                            <div class="sensor-block-proximity">
                                <p>ID: <span id="sensor-id">{{ sensor.id }}</span></p>
                                <p>Mesure: {{ mesures[sensor.id]['mesure'].valeur }} {{ mesures[sensor.id]['type_cap']['unite_mesure'] }} </p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if logement_pieces[room]['has_sensor_type']['flow']['has'] %}
                    <h3 class="flow">Débitmètre</h3>
                    <div class="sensor-grid">
                        {% for sensor in logement_pieces[room]['has_sensor_type']['flow']['list'] %}
                            <div class="sensor-block-flow">
                                <p>ID: <span id="sensor-id">{{ sensor.id }}</span></p>
                                <p>Mesure: {{ mesures[sensor.id]['mesure'].valeur }} {{ mesures[sensor.id]['type_cap']['unite_mesure'] }} </p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if logement_pieces[room]['has_sensor_type']['level']['has'] %}
                    <h3 class="level">Niveau</h3>
                    <div class="sensor-grid">
                        {% for sensor in logement_pieces[room]['has_sensor_type']['level']['list'] %}
                            <div class="sensor-block-level">
                                <p>ID: <span id="sensor-id">{{ sensor.id }}</span></p>
                                <p>Mesure: {{ mesures[sensor.id]['mesure'].valeur }} {{ mesures[sensor.id]['type_cap']['unite_mesure'] }} </p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                 
                {% if logement_pieces[room]['has_sensor_type']['actuator']['has'] %} 
                <!-- Actionneurs -->
                    <h3>Actionneurs</h3>
                    <div class="actuator-grid">
                        {% for actuator in logement_pieces[room]['has_sensor_type']['actuator']['list'] %}
                            <div class="actuator-block">
                                <p>ID: <span id="actuator-id-{{ actuator.id }}">{{ actuator.id }}</span></p>
                                <p>
                                    État: <span id="state-{{ actuator.id }}">{{ "ON" if mesures[actuator.id]['mesure'].valeur > 0 else "OFF" }}</span>
                                </p>
                                <img 
                                    id="img-{{ actuator.id }}" 
                                    src="{{ url_for('static', path='images/housing_page/' + ('window_closed.svg' if actuator.id_type_capteur in [11, 12] else 'flow_meter_on.svg' if actuator.id_type_capteur == 13 else 'light_on.svg')) }}" 
                                    alt="État de l'actionneur" 
                                >
                                <button 
                                    id="toggle-btn-{{ actuator.id }}" 
                                    class="toggle-btn" 
                                    data-id="{{ actuator.id }}" 
                                    data-type="{{ actuator.id_type_capteur }}" 
                                    data-state="{{ '1' if mesures[actuator.id]['mesure'].valeur > 0 else '0' }}"
                                >
                                    Basculer
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
   {% endfor %}
   <br><br>
   <div class="add-sensors" style="text-align: left;">
        <button type="button" class="collapsible" style="text-align: center; border-right:10px solid; width:fit-content;">
            Ajouter un module dans une pièce ? </button>
        <div class="content-sensors" style="text-align: left; width: 1024px;">
            <!-- Menu déroulant pour choisir la salle -->
            <select id="menu-rooms" onchange="fetchSensorTypes(this.value)">
                <option value="">• Choisir la salle</option>
                {% for r in logement_pieces %}
                    <option value="{{ r }}">{{ logement_pieces[r]['name'] }}</option>
                {% endfor %}
            </select>
            <!-- Menu déroulant pour les types de capteurs/actionneurs -->
            <select id="menu-sensor-types" disabled>
                <!-- <option value="">• Choisir un type de capteur/actionneur</option> -->
            </select>
            <!-- Bouton d'envoi -->
            <button id="add-sensor-btn" onclick="addSensor()" disabled>Ajouter</button>
        </div>
    </div>

</body>
 </html>

