/* Styles généraux */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Zone de texte */
.text-area {
    font-family: monospace, Arial, sans-serif; /* Police générale */
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    white-space: normal; /* Permet les retours à la ligne automatiques */
    position: relative;
    right: 50%;
    padding: 20px;
    text-align: center;
    width: fit-content;
    max-width: 1000px;
    height: fit-content;
}

/* Logo I-Leaf */
.text-area img{
    max-width: 1024px;
    width: 300%;    /* Autorise une largeur maximale égale à 300% de celle d'origine'*/
    height: auto;       /* Conserve un ratio width:height*/
    display: block;     /* Évite les espaces blancs ajoutés par les images inline*/

}

/* Conteneur des cercles */
.circle-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cercles */
.circle {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #A3B87D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.circle#housing {
    transform: translate(0%, -125%);
}

.circle#documents {
    transform: translate(0%, 0%);
}

.circle#weather {
    transform: translate(0%, 125%);
}

/* Icônes des cercles */
.icon {
    font-size: 120px;
}

/* Texte caché par défaut */
.text {
    font-size: 32px;
    font-family: monospace, Arial, sans-serif; /* Police générale */
    z-index: 2;
    display: none;
}

/* Apparition du texte */
.circle:hover .text {
    display: block;
}

/* Style pour le menu déroulant */
#dropdown-menu {
    margin-top: 20px;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: fit-content;
}

/* Style pour le bouton d’envoi */
#submit-button {
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

#submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}